.fuel-ups .box {
    margin: 0 15px;
}

.fuel-ups .box h4 {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: rgba(35, 127, 173, 0.15294117647058825);
    margin: 0;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.fuel-ups .box p {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    margin: 7px 0px;
}

.fuel-ups .box p i {
    font-size: 16px;
    margin: 0;
}

.fuel-ups .box span {
    text-align: center;
    flex-basis: 1;
}

.fuel-ups .box span:nth-of-type(1) {
    flex-basis: 20%;
}

.fuel-ups .box span:nth-of-type(2) {
    flex-basis: 12%;
}

.fuel-ups .box span:nth-of-type(3) {
    flex-basis: 11%;
}

.fuel-ups .box span:nth-of-type(4) {
    flex-basis: 11%;
}

.fuel-ups .box span:nth-of-type(5) {
    flex-basis: 11%;
}

.fuel-ups .box span:nth-of-type(6) {
    flex-basis: 17%;
}

.fuel-ups .box span:nth-of-type(7) {
    flex-basis: 18%;
}

.fuel-ups .box span:nth-of-type(8) {
    flex-basis: 5%;
}

.suggestions:hover {
    cursor: pointer;
    font-weight: bold;
}

.fuel-ups a {
    color: rgb(76, 76, 76);
}