.login {
    position: absolute;
    color: white;
    z-index: 1;
    box-shadow: 0px 5px 15px -5px #7f7f7f;
}

.wrapper-login {
    position: relative;
    align-items: flex-end;
}

.login form {
    width: 400px;
    padding: 20px;
    background-color: #2380ad;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    margin: 5px;
    padding: 2px;
    background-color: #ddebf2;
    color: rgb(76, 76, 76);
    text-align: center;
    font-size: 15px;
    outline: none;
    display: flex;
}

.input:hover {
    color: black;
}

.input i {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.input input {
    border: none;
    background-color: #ddebf2;
    outline: none;
}

.input:hover::placeholder {
    color: black;
}

.input::placeholder {
    color: rgb(76, 76, 76);
    font-weight: bold;
    text-align: center;
}

.login button {
    color: white;
    padding: 5px;
    margin: 0 auto;
    width: 200px;
    background-color: #2380ad;
    border: none;
    font-size: 16px;
    outline: none;
    border-bottom: 2px solid transparent;
}

.login button:hover {
    border-bottom: 2px solid white;
    font-weight: bold;
}

.login button:focus {
    border: none;
}