.selectCar {
    position: relative;
    margin-bottom: 15px;
    width: 70%;
    margin: 40px auto;
}

.selectCar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.selectCar form img {
    margin: 0 auto;
}

.selectCar form div {
    flex-basis: 26%;
}

.selectCar form div:first-of-type {
    flex-basis: 100%;
    display: flex;
    font-size: 13.3333px;
    margin: 5px 0;
    justify-content: center;
}

.selectCar form div:first-of-type:hover {
    color: black;
    font-weight: bold;
}

.uploadFile {
    background: #237fad27;
    flex-basis: 100%;
}

.uploadFile:hover {
    background: #237fad4b;
}

.selectCar form>div:last-of-type {
    flex-basis: 10%;
}

.selectCar select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 0px;
    background: #237fad27;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.seselectCarlect select::-ms-expand {
    display: none;
}

.selectCar select:hover,
.selectCar select:focus {
    color: #000000;
    background: #237fad4b;
}

.selectCar select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 10px;
    height: 10px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.selectCar select:hover~.select_arrow,
.selectCar select:focus~.select_arrow {
    border-color: #000000;
}

.selectCar select:disabled~.select_arrow {
    border-top-color: #cccccc;
}

.selectCar button {
    padding: 10px 15px;
    margin: 0 auto;
    width: 100px;
    background-color: #237fad4b;
    border: none;
    outline: none;
    color: rgb(76, 76, 76);
}

.selectCar button:hover {
    font-weight: bold;
    background-color: #237fad6e;
}

.selectCar h2 {
    flex-basis: 100%;
    text-align: center;
    color: rgb(76, 76, 76);
}

.filewrap {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(76, 76, 76);
    width: 100%;
    text-align: center;
}

input[type='file'] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.loading {
    max-height: 40px;
}