.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.footer h4 {
    letter-spacing: 1px;
}

.footer div {
    margin: 20px 50px;
}

.footer-images {
    display: flex;
    align-items: center;
}

.footer-images h4 {
    margin-right: 10px;
}

.footer-images img {
    max-width: 70px;
}