nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav li {
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    padding: 20px;
}

nav li:hover {
    font-weight: bold;
    border-bottom: 2px solid white;
}

nav li .selected {
    font-weight: bold;
    border-bottom: 2px solid white;
}

nav li a {
    color: white;
    text-decoration: none;
}