nav ul {
    list-style: none;
    display: flex;
    padding: 20px 0;
}

nav li {
    /* box-sizing: border-box; */
}

nav li a:hover {
    font-weight: bold;
    border-bottom: 2px solid white;
}

nav li .selected {
    font-weight: bold;
    border-bottom: 2px solid white;
}

nav li a {
    padding: 20px;
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
}