.statistics {
    display: flex;
    flex-direction: column;
    color: rgb(76, 76, 76);
}

.statistics h2 {
    text-align: center;
}

.statistics .line {
    width: 100%;
    margin-bottom: 10px;
}

.statistics-box {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    color: rgb(76, 76, 76);
    justify-content: space-between;
}

.statistics-box article {
    flex-basis: 23%;
    box-sizing: border-box;
    border-radius: 13px;
    box-shadow: 0px 5px 10px -3px gray;
}

.statistics-box article div:first-of-type {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #237fad27;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.statistics-box i {
    font-size: 30px;
    margin-right: 10px;
}

.statistics-box h4 {
    margin: 0;
}

.box div {
    align-items: center;
}

.box div p {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}