@import 'https://use.fontawesome.com/releases/v5.15.2/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
header {
    background-color: #2380ad;
    color: white;
    box-shadow: 0px 2px 15px 5px #7f7f7f;
}

i {
    font-size: 50px;
    margin-right: 30px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 2px;
}

main {
    position: relative;
}

footer {
    background-color: #2380ad;
    color: white;
    box-shadow: 0px 2px 15px 5px #7f7f7f;
}

.heading .wrapper {
    justify-content: space-between;
}

.heading {
    margin-top: 40px;
    color: rgb(76, 76, 76);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.heading-img {
    max-width: 600px;
    height: 230px;
    box-shadow: inset 0px 0px 9px 22px #ffffff;
}

.heading-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    box-sizing: border-box;
    border: 2px solid white;
}

.heading-title {
    padding: 50px 0 50px 50px;
    text-align: end;
}

main .wrapper {
    flex-direction: column;
}